.popup__container-save-button {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  width: 250px;
  height: 46px;
  border: none;
  color: #ffffff;
  background-color: #000000;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.popup__container-save-button:hover {
  opacity: 0.5;
}

@media (min-width: 880px) {
  .popup__container-save-button {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    width: 432px;
    height: 50px;
  }

  .popup__container-save-button:active {
    opacity: 0.5;
  }
}
