.profile__add-button {
  display: flex;
  justify-content: center;
  width: 282px;
  height: 50px;
  border: none;
  background-color: #000000;
  transition: opacity 0.3s ease;
}

.profile__add-button:hover {
  opacity: 0.5;
}

@media (min-width: 880px) {
  .profile__add-button {
    width: 150px;
    height: 50px;
    margin-left: 142px;
    margin-bottom: 15px;
  }

  .profile__add-button:active {
    opacity: 0.5;
  }
}
