.profile__edit-button {
  width: 20px;
  height: 20px;
  margin-left: 9px;
  border: 1px solid #ffffff;
  background-color: #000000;
  transition: opacity 0.3s ease;
}

.profile__edit-button:hover {
  opacity: 0.5;
}

@media (min-width: 880px) {
  .profile__edit-button {
    width: 24px;
    height: 24px;
    margin-left: 18px;
    margin-bottom: 2px;
  }

  .profile__edit-button:active {
    opacity: 0.5;
  }
}
