.elements {
  display: flex;
  grid-row-gap: 15px;
  flex-direction: column;
  align-items: center;
  width: 282px;
}

@media (min-width: 768px) {
  .elements {
    display: grid;
    width: 768px;
    grid-template-columns: repeat(3, 236px);
    grid-template-rows: repeat(2, 315px);
    grid-gap: 13px;
    justify-content: center;
  }
}

@media (min-width: 1280px) {
  .elements {
    display: grid;
    width: 1230px;
    grid-template-columns: repeat(3, 393px);
    grid-template-rows: repeat(2, 390px);
    grid-gap: 26px;
    justify-content: center;
  }
}
