.header__logotipo {
  width: 126px;
  height: 24px;
  margin-bottom: 32px;
  margin-left: 27px;
}

@media (min-width: 880px) {
  .header__logotipo {
    width: 173px;
    height: 33px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 41px;
  }
}
