.element__place {
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  width: 250px;
  height: 55px;
  font-size: 22px;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: #000000;
}
