.element__button-corazon {
  display: inline-block;
  background-size: cover;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.element__button-corazon:hover {
  opacity: 0.5;
}

@media (min-width: 880px) {
  .element__button-corazon:active {
    opacity: 0.5;
  }
}
